{% extends 'base/base.html' %}

{% load static %}

{% block title %}Account loggin{% endblock %}
<body>
{% block services %}

    <!--Services-->
    <section id="services">
        <div class="container">
            <div class="center gap">
                {% if form.errors and not user.is_authenticated %}

                    <h1 style="color: red; font-weight: bold;">Your username and
                        password didn't match. Please try
                        again.</h1>


                {% elif user.is_authenticated %}
                    <h1>The user is already registered.</h1>
                {% else %}
                    <h1>Login, please.</h1>
                {% endif %}
            </div>
            <div class="row-fluid">
                <a class="btn btn-default btn-success" href="{% url 'appMovie:index' %}">BACK TO INDEX</a>
            </div>
        </div>
    </section>
    <!--/Services-->

{% endblock %}
</body>
