{% extends 'base/base.html' %}

{% load static %}

{% block title %}ADD MOVIE RATE{% endblock %}

<body>
{% block services %}

    <!--Services-->
    <section id="services">
        <div class="container">
            <div class="center gap">
                <h1>Add movie rate</h1>
            </div>
            <div class="row-fluid">
                <form method="post" action="{% url 'appMovie:addmovierate' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <center>
                        <div class="wrap-input100 validate-input">
                            {{ form.as_p }}
                        </div>
                        <div class="container-login100-form-btn">
                            <input class="btn btn-large btn-transparent" style="cursor: pointer;" type="submit"
                                   value="Guardar">
                        </div>
                    </center>

                </form>

            </div>

        </div>
    </section>
    <!--/Services-->

{% endblock %}
</body>